[dev-packages]
black = "==20.8b1"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[packages]

[requires]
python_version = "3.8"

[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true
